<!DOCTYPE html>
{% extends "padre.html" %}

{% load static %}

    {% block contenido2 %}
        <h3 class="masthead-heading text-uppercase mb-0">Registro</h3>
    {% endblock %}
      
    {% block contenido %}

        <form action="" method="POST">

            {% csrf_token %}

            {{ form.as_p}}

            <br>
            <div align="middle">
                    <button class="btn btn-success" type="submit">¡Registrarme!</button>                
            </div>
            <br>

        </form>

    {% endblock %}